* {
  outline: none;
}
*:focus {
  outline: none;
}
input:hover,
select:hover {
  cursor: pointer;
}

.min-w-200{
  min-width: 130px;
}
/* .hoverBg:hover
{
  background-color: green;
}
.bg-red-400{
  background-color: lightblue;
}
.bg-red-600{
  background-color: blue;
} */
